{% extends 'layout/site.html.twig' %}

{% block title %}
  Fashionbook Paris|Page d'accueil
{% endblock %}

{% block content %}
  <section class="announces"></section>
  <section class="sidebar">
    sidebar
  </section>
  <section class="posts">
    <div class="new-post">
      <span class="new-post-sign">+</span>
      <span><a class="new-post-link" href="#">Publier un article</a></span>
    </div>
    <div class="list-posts">
      {% for post in posts %}
        <article class="post">
          <p class="post-author">
            <b>jane Doe</b> <span>a publié le {{ post.createdAt|date }}</span>
          </p>
          <hr />
          <img src="{{ vich_uploader_asset(post) }}" alt="{{ post.title }}" />
          <h2>
            {{ post.title }}
          </h2>
          <p class="post-description">
            {{ post.description|u.truncate(200, '...') }}
          </p>
          <p class="post-link">
            <span>
              <a class="post-show-link"
                href="{{
                path(
                  'app_post_show',
                  {
                    id: post.id
                  }
                )
                }}">
                Voir +
              </a>
            </span>
            <span>
              <button>Partager</button>
              <span>0</span>
              <i>
                <img class="heart-icon"
                  src="{{ asset('icons/post/icons8-heart-30.png') }}"
                  alt="" />
              </i>
              <form>
                <input class="post-like" type="submit" value="j'aime" />
              </form>
            </span>
          </p>
        </article>
        <br />
      {% endfor %}
    </div>
  </section>
  <section class="ads">
    Les articles
  </section>
{% endblock %}
