{% extends 'layout/site.html.twig' %}

{% block title %}
  Fashionbook Paris|Page d'accueil
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block content %}
  <section class="announces"></section>
  <section class="sidebar">
    sidebar
  </section>
  <section class="posts">
    <div class="new-post">
      <span class="new-post-sign">+</span>
      <span><a class="new-post-link" href="#">Publier un article</a></span>
    </div>
    <div class="list-posts">
      {% for post in posts %}
        <article class="post">
          <p class="post-author">
            <b>jane Doe</b> <span>a publié le {{ post.createdAt|date }}</span>
          </p>
          <hr />
          <img src="{{ vich_uploader_asset(post) }}" alt="{{ post.title }}" />
          <h2>
            {{ post.title }}
          </h2>
          <p class="post-description">
            {{ post.description|u.truncate(200, '...') }}
          </p>
          <p class="post-link">
            <span>
              <a class="post-show-link"
                href="{{
                path(
                  'app_post_show',
                  {
                    id: post.id
                  }
                )
                }}">
                Voir +
              </a>
            </span>
            <span>
              <button>Share</button>
              <span>count like</span>
              <i>heart</i>
              <button>like</button>
            </span>
          </p>
        </article>
        <br />
      {% endfor %}
    </div>
  </section>

  <section class="ads">
    Les articles
  </section>
  <aside>  
  </aside>
{% endblock %}
