{% extends 'layout/site.html.twig' %}

{% block title %}
  Fashionbook Paris|Page d'accueil
{% endblock %}

{% block content %}
  <section class="announces"></section>
  <section class="sidebar">
    sidebar
  </section>
  <section class="posts">
    {% if is_granted('ROLE_USER') %}
      <div class="new-post">
        <span class="new-post-sign">+</span>
        <span>
          <a class="new-post-link" href="{{ path('app_new_publication') }}">
            Publier un article
          </a>
        </span>
      </div>
    {% endif %}
    <div class="list-posts">
      {% for post in posts %}
        <article class="post">
          <p class="post-author">
            <b>{{ [post.author.name, post.author.surname]|join(' ')|title }}</b>
            <span>a publié le {{ post.createdAt|date }}</span>
          </p>
          <hr />
          <img src="{{ vich_uploader_asset(post) }}" alt="{{ post.title }}" />
          <h2>
            {{ post.title }}
          </h2>
          <p class="post-description">
            {{ post.description|u.truncate(200, '...') }}
          </p>
          <div class="post-link">
            <ul>
              <li>
                <a class="post-show-link"
                  href="{{
                  path(
                    'app_post_show',
                    {
                      post_id: post.id
                    }
                  )
                  }}">
                  Voir +
                </a>
              </li>
            </ul>
            <ul class="post-social-links">
              <li><button>Partager</button></li>
              <li class="post-like-count">{{ post.likes|length }}</li>
              <li>
                <i>
                  {% if app.user and post.isLikedByUser(app.user) %}
                    <img class="heart-icon"
                      src="{{ asset('icons/post/icons8-heart-30.png') }}"
                      alt="" />
                  {% else %}
                    <img class="heart-icon"
                      src="{{ asset('icons/post/icons8-heart-48.png') }}"
                      alt="" />
                  {% endif %}
                </i>
              </li>
              <li>
                <a href="{{
                  path(
                    'post_like',
                    {
                      id: post.id
                    }
                  )
                  }}">
                  J'aime
                </a>
              </li>
            </ul>
          </div>
          <hr />
          <div class="post-comment-section">
            {{ form_start(commentForm) }}
            {{ form_end(commentForm) }}
            <hr />
            <div class="list-comments">
              {% for comment in post.postComments %}
                <p>
                  {{ comment.author.name }}
                </p>
                <p>
                  {{ comment.content }}
                </p>
              {% endfor %}
            </div>
          </div>
        </article>
        <br />
      {% endfor %}
    </div>
  </section>
  <section class="ads">
    Les articles
  </section>
{% endblock %}
