{% extends 'layout/user_sign.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block content %}
  <div class="inscription">
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.surname) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.category) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}
    {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
