<header class="navbar-header">
  <nav>
    <div class="brand-name">
      <span>FASHIONBOOK</span>
      <span>PARIS</span>
    </div>
    <div>
      <p class="nav-page-title">
        Accueil
      </p>
    </div>
    <div class="nav-user-action">
      <form class="nav-form" action="">
        <img src="{{ asset('icons/navbar/search-2.png') }}" alt="search icon" />
        <input type="search"
          name="friend-search-input"
          id="friend-search-input"
          placeholder="Rechercher un ami..." />
      </form>
      <div class="nav-user-param">
        {% if is_granted('ROLE_USER') %}
          <p class="nav-user">
            {{ app.user.name }}
          </p>
          <img src="{{ asset('icons/navbar/Vector.png') }}" alt="cog icon" />
        {% else %}
          <img class="user-icon"
            src="{{ asset('icons/navbar/icons8-user-32.png') }}"
            alt="user icons8" />
          <a class="connexion-link" href="{{ path('login') }}">Connexion</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
