{% extends "base.html.twig" %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/market.css') }}">
        
    {% endblock %}
    {% block javascripts %}
       <script src="{{ asset('js/app.js') }}"></script> 
      {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% block body %}

    {% include "partials/_marketnav.html.twig" %}

<div class="marketmain">
    
    <div class="leftboard">
        <button class="btnMenu"><a href="#" class="btnFont">Vendre un article</a></button>
        <button class="btnMenu"><a href="{{'/market'}}" class="btnFont">Parcourir le marché</a></button>
        <button class="btnMenu"><a href="#" class="btnFont">Mes achats</a></button>
        <button class="btnMenu"><a href="#" class="btnFont">Mes ventes</a></button> 

        <div class="accordion">
            <div class="accordionElement">
                <span class="accordionHeader">catégorie1</span>
            
                <div class="accordionContent">
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="accordionElement">
                <span class="accordionHeader">catégorie2</span>
            
                <div class="accordionContent">
                    <div>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="accordionElement">
                <span class="accordionHeader">catégorie3</span>
                
                <div class="accordionContent">
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
         <p class="mentions">Infos  Accessibilité  Assistance clientele  Préférence Pubs  Publicité  Solutions professionnelles  Conditions générales et confidentialité
© 2022</p>
    </div>
    
    

    <hr class="hrLeftboard">
 
    {% block contents %}
    
    
    {% endblock %}   
</div>    
{% endblock %}